/*CSS*/

/**/
div{
  position: static;
  top: 50px;
  right: 50px;
  bottom: 50px;
  left: 50px;
}

.descripcion{
  position: relative;
  top: 40px;
  right: 0px;
  bottom: 0px;
  left: 40px;
}

.descripcion2{
  position: absolute;
  bottom: 0px;
  left: 0px;
}
/*Relacion ventana navegador*/
.descripcion3{
  position: fixed;
  top: 0px;
  left: 0px;
}

{
  float: left;
  clear: both;
}
